name: Releaser

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - name: Install Dependencies
        run: bun install

      - name: Publish
        run: npm publish --access public --provenance

      - name: Create GitHub Release
        uses: stacksjs/action-releaser@v1.2.9
        with:
          files: |
            bin/dx-linux-x64
            bin/dx-linux-arm64
            bin/dx-windows-x64.exe
            bin/dx-darwin-x64
            bin/dx-darwin-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
